.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444343;
  }
  .header {
    width: 100%;
    height: 60px;
    margin-left: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5907ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
  }
  /* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    height: 100vh;
  } */
  .footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    /* margin-left: 60px; */
    background-color: #343434;
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  *,main,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  
  .sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .sidebar ul li a:hover {
    background-color: #777676;
  } 