<!DOCTYPE html>
<html>

<head>
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/Log-regist.css">
    <link rel="stylesheet" type="text/css" href="../css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<!-- <body>
<div class="header">
    <p>Rumah Kertas</p>
</div>
<div class="sidebar">
    <ul>
        <li><a href="#">USER</a></li>
        <li><a href="#">BUKU</a></li>
    </ul>
</div>

<!-- content start -->
<!-- content end -->